Importation des librairies :

In [15]:
import pandas as pd
import os

Création d'une fonction afin de charger les données d'un restaurant entre 2 semaines :

In [20]:
def extract(data_dir, prefix, start_week, end_week):
    """
    Extract a temporal slice of data for a given data source
    
    Prameters
    ---------
    data_dir : str
        Data directory path
    start_week : int
        First week number (inclued)
    end_week : int
        Last week number (inclued)
    prefix : str
        Data source identification (e.g. restaurant_1)
    """

    df = pd.DataFrame()

    for i in range(start_week, end_week+1): # end_week + 1 pour prendre jusqu'au dernier
        file_path = os.path.join(data_dir, 'data', f'{prefix}_week_{i}.csv') # Charger le fichier

        if os.path.isfile(file_path):  # on vérifie si le fichier existe
            batch = pd.read_csv(file_path)
            df = pd.concat([df, batch], sort=True)

        return df

Exemple d'excéution de la fonction :

In [21]:
df = extract(data_dir = "/Users/147843/TP_MLOps", prefix = "restaurant_1", start_week = 108, end_week = 110)

In [22]:
df.head()

,Item Name,Order Date,Order Number,Product Price,Quantity,Total products
0,Mango Chutney,2017-01-28 19:14:00,4416,0.5,3,4
1,Mango Chutney,2017-01-28 18:41:00,4414,0.5,1,13
2,Mint Sauce,2017-01-28 18:41:00,4414,0.5,1,13
3,Mango Chutney,2017-01-28 18:28:00,4413,0.5,1,6
4,Mango Chutney,2017-01-28 12:32:00,4402,0.5,1,10